* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 90%;
}

.add-tarefa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dcecf2;
  width: 90%;
  height: 70px;
  margin: 30px 0;
  border-radius: 2px;
}

@media only screen and (max-width: 850px) {
  .add-tarefa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-tarefa form, .add-tarefa form label, .add-tarefa form input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.add-tarefa form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
}

.add-tarefa form label {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  width: 200px;
}

.add-tarefa form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 15px;
  padding: 5px;
  width: 300px;
}

.add-tarefa form button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 15px;
  padding: 5px;
  width: 100px;
  background: #77c3f2;
}

.pendentes,
.concluidas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dcecf2;
  width: 90%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-radius: 2px;
}

.pendentes h1,
.concluidas h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ff6347;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.concluidas h1 {
  color: #078c03;
}

h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  position: relative;
  top: 10px;
}

.tarefas-pendentes,
.tarefas-concluidas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
  padding-top: 0;
}

.tarefas-pendentes li,
.tarefas-concluidas li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  color: #002525;
  border-bottom: #fff solid 1px;
}

.tarefas-pendentes-ul li p, .tarefas-concluidas-ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.botao-deletar, .botao-completar {
  font-size: 26px;
  color: #ff6347;
  background-color: #dcecf2;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.botao-completar {
  color: #078c03;
}

.span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */